[submodule "imu_tools"]
path = imu_tools
url = https://github.com/ccny-ros-pkg/imu_tools.git

[submodule "px-ros-pkg"]
path = px-ros-pkg
url = https://github.com/KSU-ART/px-ros-pkg.git

[submodule "scan_tools"]
path = scan_tools
url = https://github.com/ccny-ros-pkg/scan_tools.git

[submodule "mavros"]
path = mavros
url = https://github.com/KSU-ART/mavros.git
[submodule "Guidance-SDK-ROS"]
	path = Guidance-SDK-ROS
	url = ./Guidance-SDK-ROS/
