<launch>
	<!-- Runs Hokuyo -->
    <include file="$(find controller)/launch/preFlight.launch" />
	<node name="point_lidar" pkg="terarangerone" type="terarangerone_node">
		<!-- The Port needs to change on the Odroid -->
		<param name="_portname" value="/dev/ttyUSB0" />
	</node>
	<node name="start" pkg="sensors" type="start" />
</launch>
