<launch>
<!--	<node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node">
	  <param name="device" type="string" value="/dev/video0"/>
      <param name="width" type="int" value="640"/>
      <param name="height" type="int" value="480"/>
      <param name="fps" type="int" value="30"/>
	</node>
-->	
	<node name="usb_cam_0" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="camera_name" value="narrow_stereo" />
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="framerate" value="30"/>
		<param name="io_method" value="mmap"/>
		<param name="camera_info_url" value="file://$(find observer)/cam_data/cam2.yml"/>
	</node>
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam_0"/>

	<node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="camera_name" value="narrow_stereo" />
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="framerate" value="30"/>
		<param name="io_method" value="mmap"/>
		<param name="camera_info_url" value="file://$(find observer)/cam_data/cam2.yml"/>
	</node>
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam_1"/>

	<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
		<!-- Starts up faster, but timestamps will be inaccurate. --> 
		<param name="calibrate_time" type="bool" value="false"/> 
		<!-- Set the port to connect to here -->
		<param name="port" type="string" value="/dev/ttyACM0"/> 
		<param name="intensity" type="bool" value="false"/>
	</node>
	
	<node name="laser_scan_splitter_node" pkg="laser_scan_splitter" type="laser_scan_splitter_node">
		<param name="sizes" value="224 64 224" />
		<param name="topics" value="scan1 scan2 scan3" />
		<param name="frames" value="laser laser laser" />
	</node>
	
	<include file="$(find mavros)/launch/apm2.launch">
		<arg name="fcu_url" default="/dev/ttyACM1:115200" />
	</include>

<!--
	<include file="$(find openni2_launch)/launch/openni2.launch">
	</include>
-->	
	<node name="settings_sh" pkg="spsuart" type="settings.sh" />
	<node name="guidanceNode" pkg="guidance" type="guidanceNode"/>

</launch>
