<launch>
<!--
	<include file="$(find observer)/launch/video/video0.launch" />
-->
	<include file="$(find observer)/launch/video/video1.launch" />
	

	<include file="$(find observer)/launch/video/video2.launch" />
	<include file="$(find observer)/launch/video/video3.launch" />
	<include file="$(find observer)/launch/video/video4.launch" />
<!--
	<include file="$(find observer)/launch/video/video5.launch" />
	<include file="$(find observer)/launch/video/video8.launch" />
-->

<!--
	<include file="$(find observer)/launch/video/video6.launch" />
	<include file="$(find observer)/launch/video/video7.launch" />
-->
	
</launch>
