<launch>

	<node name="image_view_1" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_1/image_raw" />
		<param name="autosize" value="true" />
	</node>
	<node name="image_view_2" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_2/image_raw" />
		<param name="autosize" value="true" />
	</node>
	<node name="image_view_3" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_3/image_raw" />
		<param name="autosize" value="true" />
	</node>
	<node name="image_view_4" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_4/image_raw" />
		<param name="autosize" value="true" />
	</node>
	<node name="image_view_5" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_5/image_raw" />
		<param name="autosize" value="true" />
	</node>
	<node name="image_view_6" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/uvc_cam_6/image_raw" />
		<param name="autosize" value="true" />
	</node>
	
</launch>
