*~
3rdparty/poshlib/tests
IDEs/Visual Studio/Debug
IDEs/Visual Studio/ReadMe.txt
IDEs/Visual Studio/*.user
lib/*
!lib/.gitignore
!lib/gcc/.gitignore
!lib/vstudio/.gitignore
obj/*
!obj/.gitignore
!obj/gcc/.gitignore
!obj/vstudio/.gitignore
