<launch>
	<node name="usb_cam_0" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="camera_name" value="narrow_stereo" />
		<param name="video_device" value="/dev/video1" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="cam_0_frame" />
		<param name="io_method" value="mmap"/> 
		<param name="camera_info_url" value="file://$(find observer)/cam_data/cam0.yml"/>
		
		<param name="framerate" value="30"/>
		<param name="contrast" value="32"/>
		<param name="brightness" value="10"/>
		<param name="saturation" value="192"/>
		<param name="sharpness" value="22"/>
		<param name="autofocus" value="false"/>
		<param name="auto_white_balance" value="false" />
		<param name="autoexposure" value="false" />
	</node>
   
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam_0"/>
	
</launch>
